<h1>Add Content</h1>

<p>
  Select a folder with files.<br>
  <code>{images, text files, csv files}</code>
</p>

<%= form_tag contents_path, method: :post, multipart: true do %>
  <%= label_tag 'Content', 'Select Files' %>
  <%= file_field_tag('files[]', multiple: true, class: 'drop-target') %>
  <%= label_tag 'Zip Name', 'Zip Name' %>
  <%= text_field_tag 'out_name' %>
  <%= label_tag 'Password', 'Password' %>
  <%= password_field_tag 'password' %>
  <%= submit_tag 'Add!' %>
<% end %>
